mat-grid-list(cols='2' rowHeight='60px')
    mat-grid-tile
        button(
            color='basic'
            mat-raised-button
            routerLink='/start-project'
            routerLinkActive='active'
        ) Start Project

    mat-grid-tile
        button(
            color='basic'
            mat-raised-button
            routerLink='/manage-project'
            routerLinkActive='active'
        ) Manage Project
